$fa-font-path: "../../assets/fonts";
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import 'element-ui/lib/theme-chalk/index.css';
@import '../../../node_modules/wd-js-lib/src/css/style';

@tailwind base;
@tailwind components;
@tailwind utilities;

.wd-wc-visual-search {
  max-width: 100% !important;
}

.wd-wc-visual-search .products {
  position: relative;
  left: 0px;
}

.wd-wc-visual-search .products .product {
  display: inline-block;
  float: none !important;
  margin: 0px !important;
  white-space: normal;
}

.products .product .search_other{
  position: absolute;
  display: block;
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 0px;
  color: #FFFFFF;
  background-color: #7a7878ba;
  cursor: pointer;
  z-index: 100;
}

.wrap{
  background-color: #ffffff;
}