.recommend-product-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-decoration: none;
  font-style: normal;
  max-width: 500px;
}

@media (max-width: 750px) {
  .recommend-product-item {
    margin-bottom: 20px;
  }
}

.recommend-product-item .recommend-product-item-image-wrapper {
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
}

.recommend-product-item .recommend-product-item-image-wrapper::before {
  content: "";
  width: 0;
  height: 0;
  padding-bottom: var(--ratio-percent);
}

.recommend-product-item
  .recommend-product-item-image-wrapper
  .recommend-product-item-image-media {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  background-color: var(
    --color-image-background,
    var(--plugin-recommend-color_image_background)
  );
}

.recommend-product-item
  .recommend-product-item-image-wrapper
  .recommend-product-item-image {
  position: relative;
  transition: opacity 0.1s ease;
  margin-bottom: 10px;
  height: 100%;
}

.recommend-product-item
  .recommend-product-item-image-wrapper
  .recommend-product-item-image
  .recommend-product-item-image-placeholder {
  background-color: rgba(0, 0, 0, 0.05);
  background-image: url(https://cdn.myshopline.com/t/layout/dev/Impress/0.3.79/1649825979105/assets/product/commons/svg/default-img.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  height: 0;
  opacity: 1;
  padding-bottom: 100%;
}

.recommend-product-item
  .recommend-product-item-image-wrapper
  .recommend-product-item-image
  img {
  object-fit: cover;
  height: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.recommend-product-item
  .recommend-product-item-image-wrapper:hover
  .recommend-product-item-button-warpper {
  opacity: 1;
  transform: translateY(0);
}

.recommend-product-item
  .recommend-product-item-image-wrapper
  .recommend-product-item-button-warpper {
  bottom: 10px;
  left: 10px;
  opacity: 0;
  padding: 0;
  position: absolute;
  transform: translateY(calc(100% + 10px));
  transition: opacity 0.25s ease, transform 0.25s ease-out;
  width: calc(100% - 20px);
}

@media (max-width: 750px) {
  .recommend-product-item
    .recommend-product-item-image-wrapper
    .recommend-product-item-button-warpper {
    display: none;
  }
}

.recommend-product-item .recommend-product-item-sale-tag {
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  padding: 4px 12px;
  color: var(--plugin-recommend-color_tag_text);
  background: var(--plugin-recommend-color_tag_background);
}

.recommend-product-item .recommend-product-item-soldout-tag {
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  padding: 4px 12px;
  color: var(--plugin-recommend-color_text);
  background: var(--plugin-recommend-color_page_background);
}

@media (max-width: 750px) {
  .recommend-product-item .recommend-product-item-sale-tag,
  .recommend-product-item .recommend-product-item-soldout-tag {
    padding: 3px 8px;
  }
}

.recommend-product-item-info {
  user-select: none;
  text-align: center;
}

.recommend-product-item-info .recommend-product-item-title {
  color: var(--plugin-recommend-color_text);
  word-break: break-word;
  font-size: 14px;
  line-height: 1.6 !important;
}

@media (max-width: 750px) {
  .recommend-product-item-info
    .recommend-product-item-title.recommend-mobile-hide-title {
    display: none !important;
  }
}

.recommend-product-item-info .recommend-product-item-title.display-1-row {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  padding-right: 4px;
  -webkit-box-orient: vertical;
}

.recommend-product-item-info .recommend-product-item-title.display-2-row {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  padding-right: 4px;
  -webkit-box-orient: vertical;
}

.recommend-product-item-info .recommend-product-item-price {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin-top: 10px;
  color: var(--plugin-recommend-color_sale, #1c1d1d);
  font-size: 14px;
}

.recommend-product-item-info .recommend-product-item-price > span {
  margin-right: 10px;
}

.recommend-product-item-info .recommend-product-item-price > span.origin-price {
  text-decoration: line-through;
}

.recommend-product-item-info .recommend-product-item-price > span.save-price {
  color: var(--plugin-recommend-color_discount);
}

.recommend-product-item-info .recommend-product-item-price > span:only-child {
  margin-right: 0;
}

.recommend-product-item-info span.vip-icon {
  margin-right: 10px;
  margin-left: -8px;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.5 1a1 1 0 0 1 1-1h20a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-20a1 1 0 0 1-1-1V1z' fill='%233B3836'/%3E%3Cpath d='M4.1 2.782h1.498l1.487 4.385 1.487-4.385h1.498L7.654 9.125H6.506L4.1 2.782zM10.822 2.782h1.432v6.343h-1.432V2.782zM16.428 2.782c.766 0 1.367.178 1.805.533.444.356.667.843.667 1.462 0 .588-.223 1.06-.667 1.416-.438.349-1.04.524-1.805.524H15.04v2.408h-1.433V2.782h2.822zm-.065 2.877c.343 0 .612-.076.81-.23.196-.153.294-.37.294-.652 0-.306-.098-.54-.295-.699-.19-.165-.46-.248-.81-.248H15.04v1.83h1.323z' fill='%23FFD8A2'/%3E%3C/svg%3E")
    no-repeat center;
  width: 26px;
}

.recommend-product-item-info span.vip-icon:after {
  content: ".";
  text-indent: -9999px;
  opacity: 0;
}

[data-type_product_grid_uppercase="true"]
  .recommend-product-item-info
  .recommend-product-item-title {
  text-transform: uppercase;
}

cart-drawer .product-recommend {
  overflow: hidden;
}

.recommend-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-horizontal-space, 20px) * -0.5);
  margin-right: calc(var(--grid-horizontal-space, 20px) * -0.5);
  margin-top: calc(var(--grid-vertical-space, 20px) * -1);
  list-style: none;
  padding: 0;
}

.recommend-grid > * {
  box-sizing: border-box;
  flex-shrink: 0;
  margin-top: var(--grid-vertical-space, 20px);
  max-width: 100%;
  padding-left: calc(var(--grid-horizontal-space, 20px) * 0.5);
  padding-right: calc(var(--grid-horizontal-space, 20px) * 0.5);
  width: 100%;
}

.recommend-grid-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.recommend-grid-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.recommend-grid-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.recommend-grid-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.recommend-grid-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.recommend-grid-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

@media (min-width: 960px) {
  .recommend-grid-cols-4-desktop > .col {
    width: 25%;
  }
}
